
/* ---------------> NAVBAR <--------------- */

.navbar {
    background-color:#c1f1e0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 6vw;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    color: #f5f5f5;
}



.logo li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ecf0f1;
    text-decoration: none;
}

.navbar .logo {
    cursor: pointer;
    position: absolute;
    left: 100px;
    height: 6vw;
}

.navbar .nav_links {
    display: flex;
    list-style: none;
    align-items: center;
    padding: auto;
    position: absolute;
    right: 40px;
}

.navbar .nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar .nav_links li a {
    transition: all 0.3s ease 0s;
    color:#0D4C92;
    text-decoration: none;
}

.nav_links .links_hover a {
    display: flex;
    padding: 9px 15px;
    border-radius: 50px;
}

.navbar .nav_links .links_hover li a:hover {
    color:#0D4C92;
    background: rgba(255, 255, 255, 0.4);
}

.cta button {
    padding: 9px 25px;
    margin-left: 10px;
    background-color: #CFF5E7;
    border: none;
    color: #0D4C92;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover {
    color: none;
    background-color:rgba(255, 255, 255, 0.4);
    border-radius: 50px;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 850px) {
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 20px;
        left: 20px;
        height: 50px;
    }
    .nav_links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #24252a;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav_links li {
        margin: 30px auto;
        padding-top: 20px;
        
    }
    p.footer-bottom {
        font-size: 12.5px;
    }
}


.contact {
    font-family: "poppins";
    position: relative;
    min-height: 100vh;
    padding: 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:#0D4C92 url(Resourses/339.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.contact .content p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex   ;
}

.contact .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contact .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contact .contactInfo .box .text h3 {
    font-weight: 800;
    color: #00bcd4;
}
.contentHeading{
    font-size: 60px;
}

.contentText{
    font-size: 20px;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background-color: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 600;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-style: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
}

.contactForm .inputBox input[type="submit"]:hover {
    background-color: #00bcd146;
}


.footer{
    background-color: #CFF5E7;
    width: 100%;
    
}

.footer_text {
    text-align: center;
}

.footer_head {
    text-align: center;
}
